*{
    box-sizing: border-box;
}

body{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.card{
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 20px 10px rgba(0, 0, 0,0.2);
}
img{
    max-width: 100%;
}
.card-header{
    height: 200px;
}
.card-header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-content{
    background-color: #fff;
    padding: 30px;
}
.card-title{
    height: 20px;
    margin:0;
}
.card-description{
    color: #777;
    margin:10px 0 20px;
}
.seller{
    display: flex;
}
.profile_img{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}
.seller-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left:10px;
    width: 100px;
}
.seller-info small{
    color:#999;
    margin-top: 5px;
}

/* Effect Loading Animation */
.animated_bg{
    background-image: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 10%,
        #f6f7f8 20%,
        #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: animatedPlay 1s linear infinite;
}
.animated_text{
    border-radius: 50px;
    display: inline-block;
    margin:0;
    height: 10px;
    width: 100%;
}

@keyframes animatedPlay{
    0%{
        background-position: 50% 0;
    }
    100%{
        background-position: -150% 0;
    }
}