*{
    box-sizing: border-box;
}

body{
    background-color: #efedd6;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}
h2{
    margin: 10px;
}

.category{
    background-size: cover;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(300%);
    transition: transform 0.4s ease;
}

.category h2{
    font-size: 45px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
}

.category:nth-of-type(even){
    transform: translateX(-300%);
}

.category.active{
    transform: translateX(0);
}