*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
}

img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.carousel{
    width: 500px;
    overflow: hidden;
    height: 530px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.button-container{
    display: flex;
    justify-content: space-between;
}
.btn{
    background: purple;
    color:#fff;
    border:none;
    padding: 0.5rem;
    width: 49.5%;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.9;
}