*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vw;
}
.item{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    border-radius: 50px;
    cursor: pointer;
    color:whitesmoke;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
    opacity: 0.7;
}

.item.active{
    flex:4;
    opacity: 1;
}
.item.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.item h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left:20px;
    margin:0;
    opacity: 0;
    background-color: #333;
}

@media(max-width:500px){
    .container{
        width: 100vw;
    }
    .item:nth-of-type(6),.item:nth-of-type(7){
        display: none;
    }
}